service aee_aed64_v2 /system_ext/bin/aee_aed64_v2
    group root readproc system debuggerd log package_info radio
    writepid /dev/cpuset/system-background/tasks

service aee-reinit_v2 /system_ext/bin/aee_aed64_v2 --reinit
    oneshot
    disabled
    user root
    group root

service anrdump_v2 /system_ext/bin/aee_v2 -q
    oneshot
    disabled
    user root
    group root

service aee_set_md_ver_prop_v2 /system_ext/bin/aee_v2 -P
    oneshot
    disabled
    user root
    group root

service aee_callback_v2 /system_ext/bin/aee_v2 -C
    oneshot
    disabled
    user root
    group root

service aeedump_v2 /system_ext/bin/aee -g 1
    oneshot
    disabled
    user root
    group root
